[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "data-analytics-core"
version = "1.0.18"
authors = [
  { name="Marc Vea", email="marc.vea@code.seat" },
]
description = "Globally shared modules in all Data & Analytics"
readme = "README.md"
requires-python = ">=3.9"
dynamic = ["dependencies"]
classifiers = [
    "Programming Language :: Python :: 3.9",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta",
]

[tool.setuptools.dynamic]
dependencies = {file = ["requirements.txt"]}

[project.urls]
"Homepage" = "https://pypi.org/project/data-analytics-core/"
"GitHub" = "https://github.com/seatcode/data-analytics-core"