[package]
name = "rand_archive"
version = "0.2.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rand_archive"
crate-type = ["cdylib", "lib"]

[dependencies]
async-trait = "0.1.73"
bincode = "1.3.3"
bytes = "1.5.0"
color-eyre = "0.6.2"
either = "1.9.0"
futures = "0.3.28"
gcs-reader = { version = "0.1.5", optional = true }
indexmap = { version = "2.0.0", features = ["serde"] }
pyo3 = { version = "0.19.0", features = ["serde", "indexmap", "eyre"] }
rand = "0.8.5"
serde = { version = "1.0.183", features = ["derive"]}
thiserror = "1.0.48"
tokio = { version = "1.32.0" , features = ["rt"]}

[dev-dependencies]
tempfile = "3.7.1"

[features]
gcs = ["gcs-reader"]
