/* slim select
------------------------------------------------------------------------------------- */
@media all {
    .aa-fleetfinder {
        margin-top: 1rem;
    }

    .aa-fleetfinder .ss-main .ss-multi-selected .ss-add {
        margin: 17px;
    }

    .aa-fleetfinder .ss-main .ss-multi-selected {
        height: 45px;
    }

    .aa-fleetfinder .ss-main .ss-multi-selected .ss-values .ss-value {
        font-size: 14px;
    }

    .aa-fleetfinder .eve-character-portrait,
    .aa-fleetfinder .eve-type-icon {
        margin-right: 0.5rem;
    }

    .aa-fleetfinder .table-vertical-middle td {
        vertical-align: middle;
    }

    .aa-fleetfinder-footer {
        border-top: 1px solid rgb(236 240 241);
        font-size: 85%;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .template-dark-mode .aa-fleetfinder-footer {
        border-color: rgb(70 69 69);
    }
}
